<br />

<div class="well well-sm col-md-8 col-md-offset-2">		
	<center>	
		<h3><%= link_to "Assignment: #{@assignment.title}", @assignment %></h3>
	</center>
	<div style="padding:20px;">
		<%= link_to "Subject: #{@assignment.subject.name}", @assignment.subject%><br />
		<%= link_to "Teacher: #{@assignment.subject.teacher.last_name}, #{@assignment.subject.teacher.first_name}", @assignment.subject.teacher %><br />
		<%= @assignment.created_at.localtime.strftime("%I:%M%p %e %b '%y") %>

		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />

		<h4><%= simple_format(@assignment.content) %></h4>

		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />

		<small><%= simple_format(@assignment.remarks) %></small>

		<% if current_user == @assignment.subject.teacher %>
			<%= link_to 'Edit', edit_assignment_path(params: {subject_id: @assignment.subject.id}), class:"btn btn-primary btn-sm" %>
			<%= link_to 'Delete', assignment_path(@assignment), method: "delete",class:"btn btn-danger btn-sm" %>
			<br />
		<% end %>
		<%= link_to 'Back to Subject', @assignment.subject %>
	</div>
</div>

<% x = false %>
<% if (current_user.type?'Student') && (@assignment.subject.block_classes.include? current_user.try(:block_class)) %>
	<% x = true %>
<% elsif (current_user.type?'Teacher') && (@assignment.subject.teacher == current_user) %>
	<% x = true %>
<% end %>

<% if x %>
	<div class="well well-sm col-md-10 col-md-offset-1">
		<%= render partial:'/comments/form' %><br />
		<% @assignment.comments.order(created_at: :desc).each do |comment| %>
			<% if comment.id %>
				<%= render partial:'/comments/comment', locals: {comment: comment} %>
			<% end %>
			<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />
		<% end %>
	</div>
<% end %>