<br />
<div class="well well-sm col-md-8 col-md-offset-2 table-responsive">
	<h1>All lectures</h1>
	<table class="table table-striped">
		<th width="100px">Date Posted</th>
		<th>Title</th>
		<th>Subject</th>
		<th width="100px"> </th>
		<% @lectures.order(created_at: :desc).each do |lecture| %>
			<tr>
				<td align="right">
					<%= lecture.created_at.localtime.strftime("%e %b %Y") %><br />
				</td>
				<td><%= link_to "#{truncate(lecture.title, length:60)}", lecture %></td>
				<td><%= link_to lecture.subject.name, lecture.subject %></td>
					<td>
						<% if can? :edit, lecture %>
							<%= link_to "Edit", edit_lecture_path(lecture, params: {subject_id: lecture.subject.id}), class:"btn btn-primary btn-xs" %>
							<%= link_to "Delete", lecture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
					<% end %>
					</td>
		<% end %>
	</table>
		
	<center>
		<%= link_to "Back to Subject", @subject %>
	</center>
</div>