<br />

<div class="well well-sm col-md-8 col-md-offset-2">		
	<center>	
		<h3><%= link_to "Lecture: #{@lecture.title}", @lecture %></h3>
	</center>
	<div style="padding:20px;">
		<%= link_to "Subject: #{@lecture.subject.name}", @lecture.subject%><br />
		<%= link_to "Teacher: #{@lecture.subject.teacher.last_name}, #{@lecture.subject.teacher.first_name}", @lecture.subject.teacher %><br />
		<%= @lecture.created_at.localtime.strftime("%I:%M%p %e %b '%y") %>
		
		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />

		<h4><%= simple_format(@lecture.content) %></h4>

		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />

		<small><%= simple_format(@lecture.remarks) %></small>

		<% if current_user == @lecture.subject.teacher %>
			<%= link_to 'Edit', edit_lecture_path(params: {subject_id: @lecture.subject.id}), class:"btn btn-primary btn-sm" %>
			<%= link_to 'Delete', lecture_path(@lecture), method: "delete",class:"btn btn-danger btn-sm" %>
			<br />
		<% end %>
		<%= link_to 'Back to Subject', @lecture.subject %>
	</div>
</div>

<div class="well well-sm col-md-10 col-md-offset-1">
	<%= render '/comments/form' %><br />
	<% @lecture.comments.order(created_at: :desc).each do |comment| %>
		<% if comment.id %>
		<div class="container">
			<div class="col-md-3">
				<table>
					<td>
						<%= image_tag comment.user.avatar.url(:icon) %><br />
					</td>
					<td style="padding:10px">
						<%= link_to "#{comment.user.first_name} #{comment.user.last_name}", comment.user %><br />
						<% if comment.user.type? 'Student' %>
							<%= comment.user.course %>
						<% else %>
							<%= comment.user.type %>
						<% end %>
						<small><%= comment.user == @lecture.subject.teacher ? "(Author)" : "" %></small><br />
						<%= link_to "Block #{comment.user.try(:block_class).try(:name)}", comment.user.try(:block_class) %>
					</td>
				</table>
			</div>
			<div class="col-md-7" style="padding-top:10px;">
				<small><%= link_to comment.human_time, comment %></small><br /><br />
				<%= simple_format(comment.content) %>
			</div>
		</div>
		<% end %>
	<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />
	<% end %>
</div>