<div class="container">
	<div class="col-md-3">
		<table>
			<td>
				<%= image_tag comment.user.avatar.url(:icon) %><br />
			</td>
			<td style="padding:10px">
				<%= link_to "#{comment.user.first_name} #{comment.user.last_name}", comment.user %><br />
				<% if comment.user.type? 'Student' %>
					<%= link_to comment.user.course.name, comment.user.course %>
				<% else %>
					<%= comment.user.type %>
				<% end %>
				<small><%= comment.user == comment.parent.subject.teacher ? "(Author)" : "" %></small><br />
				<%= link_to "Block #{comment.user.try(:block_class).try(:name)}", comment.user.try(:block_class) %>
			</td>
		</table>
	</div>
	<div class="col-md-7" style="padding-top:10px;">
		<sup>
			<% if comment.versions.count > 1 %>
				<%= link_to "Edited #{human_time(comment.versions.last.created_at)}", comment, title:"#{absolute_local_time(comment.versions.last.try(:created_at))}" %>
			<% else %>
				<%= link_to "Posted #{human_time(comment.created_at)}", comment, title:"#{absolute_local_time(comment.created_at)}" %>
			<% end %>
		</sup>
		<br />
		<%= simple_format(sanitize Rinku.auto_link(comment.content), tags: %w(br a)) %>
		
		<% if current_user == comment.user %>
			<small>
				<%= link_to "Edit", edit_comment_path(comment) %> |
				<%= link_to "Delete", comment_path(comment), method:'delete', data: {confirm:"Delete this comment?"} %>
			</small>
		<% end %>
	</div>
</div>