<%= form_for @comment do |f| %>
  <span class="postform form-group">
    <%= f.label :content, class: 'sr-only' %>
    <%= f.text_area :content, rows: 3, class: 'form-control textarea-fixed', id: "postarea", style: "padding-right:100px", maxlength: "200", placeholder: "What's on your mind?", required: true %>
		
		<%= f.hidden_field :user_id, value: current_user.id %>
		<% if @assignment %>
			<%= f.hidden_field :assignment_id, value: @assignment.id %>
		<% elsif @lecture %>
			<%= f.hidden_field :lecture_id, value: @lecture.id %>
		<% elsif @exam_schedule %>
			<%= f.hidden_field :exam_schedule_id, value: @exam_schedule.id %>
		<% end %>
		
		<div class="postbutton">
			<%= f.submit "Submit", class: 'btn btn-primary sendButton' %>
			<small><div class="text-muted text-center" id="post_feedback"></div></small>
		</div>
  </span>
<% end %>