<br />

<div class="well well-sm col-md-8 col-md-offset-2">
	<div style="padding:20px;">
		<center><h4>Comment for <%= link_to "#{@comment.parent.title}", @comment.parent %></h4></center>
		<table>
			<td>
				<%= image_tag @comment.user.avatar.url(:icon), class:"img-rounded" %>
			</td>
			<td style="padding:10px">
				<h4>
					<%= link_to "#{@comment.user.first_name} #{@comment.user.last_name}", @comment.user %><br />
					<% if @comment.user.type? 'Student' %>
						<%= @comment.user.course.name %>
					<% else %>
						<%= @comment.user.type %>
					<% end %>
					<small><%= @comment.user == @comment.parent.subject.teacher ? "(Author)" : "" %></small><br />
					<%= link_to "Block #{@comment.user.try(:block_class).try(:name)}", @comment.user.try(:block_class) %>
				</h4>
			</td>
		</table>
		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />
		
		<h4>
			<sup>
				<% if @comment.versions.count > 1 %>
					<%= link_to "Edited #{human_time(@comment.versions.last.created_at)}", '', title:"#{absolute_local_time(@comment.versions.last.try(:created_at))}" %>
				<% else %>
					<%= link_to "Posted #{human_time(@comment.created_at)}", '', title:"#{absolute_local_time(@comment.created_at)}" %>
				<% end %>
			</sup>
			<br />
		
			<%= simple_format(@comment.content) %>
		</h4>
		
		<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />
		
		<% if current_user == @comment.user %>
			<%= link_to 'Edit', edit_comment_path, class:"btn btn-primary btn-sm" %>
			<%= link_to 'Delete', comment_path(@comment), method: "delete",class:"btn btn-danger btn-sm" %>
			<br />
		<% end %>
	</div>
</div>

<% if @comment.versions.count > 1 %>
<div class="well well-lg col-md-8 col-md-offset-2">
	<% @comment.versions.reverse_order.each do |version| %>
		<% if version.reify.try(:content) %>
			<sup>
				<%= link_to human_time(version.try(:created_at)), '', title:"#{absolute_local_time(version.try(:created_at))}" %>
			</sup>
			<br />
			<%= version.reify.try(:content) %><br />
			<hr style="margin:10px; border-top: 1px dotted #8c8b8b;" />
		<% end %>
	<% end %>
</div>
<% end %>