<br />
<div class="well well-sm col-md-10 col-md-offset-1">
	<h1>Students</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<th>Name</th>
			<th>ID No.</th>
			<th>Email</th>
			<th>Block</th>
			<th>Yr.</th>
			<th>Course</th>
			<th> </th>
			<% @students.each do |student| %>
			  <tr>
					<td><%= link_to "#{student.last_name}, #{student.first_name}", student %></td>
					<td><%= link_to student.username, student %>
					<td><%= mail_to student.email %></td>
					<td><%= student.block_class ? (link_to student.block_class.name, student.block_class) : "" %>
					<td><%= student.year_level %></td>
					<td><%= student.course %></td>
			    <td><% unless student.admin? %><%= link_to "Delete", student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %><% end %></td>
			  </tr>
			<% end %>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td>
					<% if can? :manage, 'Teachers' %>
						<%= link_to 'Create', new_student_path, class: "btn btn-primary btn-xs" %><br />
					<% end %>
				</td>
			</tr>
		</table>
	</div>

	<center><%= page_entries_info @students %><br/>
	<%= will_paginate @students, renderer: BootstrapPagination::Rails %></center>
</div>

