<%= form_for @subject do |f| %>
	<br/ >
	<div class="well well-sm col-md-4 col-md-offset-4">
	  <div class="form-group form">
	    <%= f.text_field :name, class:"form-control", autofocus:true, placeholder:"Subject Name"%><br />
		
			<%= f.select :teacher_id, Teacher.order('last_name').all.pluck(:last_name, :id), {include_blank: '- Select Professor -'} , class: 'form-control select2' %><br />
			
			<%= f.select :block_class_ids, options_from_collection_for_select(@block_classes, 'id', 'name', @subject.block_class_ids), {include_blank: '- Select Blocks -'}, class: 'form-control select2', multiple:true %><br />
			
			<%= f.submit "Submit", class:"btn btn-primary btn-block" %>
			
			<center>
				<% if @subject.block_classes.present? %>
					<%= link_to "Cancel", subject_path(@subject) %><br />
				<% end %>
				<%= link_to "Back to Subjects", subjects_path %>
			</center>
	  </div>
	</div>
<% end %>
