<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.text_field :name %><br />
		<%= form.select :teacher_id, Teacher.order('last_name').all.pluck(:last_name, :id), {include_blank: '- select a professor -'} %><br />
		<%= form.select :block_class_ids, BlockClass.all.collect {|x| [x.name, x.id]}, {include_blank: '- select blocks -'}, multiple: true, size: 5, width: 5%><br />
    <%= form.submit %><br /><br />
  </div>
<% end %>
