<br />
<div class="well well-sm col-sm-6 col-sm-offset-3">
	<h1>Subject</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<th>Name</th>
			<th>Teacher</th>
			<th> </th>
			<% @subjects.each do |subject| %>
			  <tr>
					<td><%= link_to subject.name, subject %></td>
					<td><%= subject.teacher ? (link_to "#{subject.teacher.last_name}, #{subject.teacher.first_name}", subject.teacher) : "" %>
			    <td>
					<% if can? :manage, subject %>
							<%= link_to "Edit", edit_subject_path(subject), class:"btn btn-primary btn-xs" %>
							<%= link_to "Delete", subject, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
					<% end %>
					</td>
			  </tr>
			<% end %>
			<tr>
				<td> </td>
				<td> </td>
				<td>
					<% if can? :manage, 'Teachers' %>
						<%= link_to 'Create', new_subject_path, class: "btn btn-primary btn-xs" %><br />
					<% end %>
				</td>
			</tr>
		</table>
	</div>

	<center><%= page_entries_info @subjects %><br/>
	<%= will_paginate @subjects, renderer: BootstrapPagination::Rails %></center>
</div>

