<br />
<div class="well well-sm col-md-6 col-md-offset-3 table-responsive">
	<strong>Lectures for <%= link_to @subject.name %></strong><br />
	<table class="table table-striped">
		<th width="100px">Date Posted</th>
		<th>Title</th>
		<th width="100px"> </th>
		<% @lectures.order(created_at: :desc).each do |lecture| %>
			<tr>
				<td align="right">
					<div>
						<%= lecture.created_at.localtime.strftime("%e %b %Y") %><br />
					</div>
				</td>
				<td><%= link_to "#{truncate(lecture.title, length:40)}", lecture %></td>
					<td>
						<% if can? :edit, lecture %>
							<%= link_to "Edit", edit_lecture_path(lecture, params: {subject_id: @subject.id}), class:"btn btn-primary btn-xs" %>
							<%= link_to "Delete", lecture, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
					<% end %>
					</td>
		<% end %>
	</table>
	<% if current_user == @subject.teacher %>
		<center><%= link_to "New Lecture", new_lecture_path(params: {subject_id: @subject.id}), class:"btn btn-primary btn-xs"%></center>
	<% end %>
		
	<center>
		<%= link_to "Back to Subject", @subject %>
	</center>
</div>