<p id="notice"><%= notice %></p>

<%= @subject.name %><br />
<%= @subject.id %><br />
<%= @subject.teacher.last_name %>, <%= @subject.teacher.first_name %><br />
<% @subject.block_classes.each do |block_class| %>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= block_class.name %> -  
	<%= block_class.teacher.last_name %>, <%= block_class.teacher.first_name %><br />
<% end %>

<br />
<%= link_to 'Lectures', subject_lectures_path %><br />
<%= link_to 'Assignments', subject_assignments_path %><br />
<%= link_to 'Exam Schedules', exam_schedules_path %><br />
<br />
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
