<table style="margin:1%; height:150px">
	<td>
		<h4><strong>Subject: <%= @subject.name %></strong><br /></h4>
		Teacher: <%= link_to "#{@subject.teacher.last_name}, #{@subject.teacher.first_name}", @subject.teacher %><br />
		<% if current_user.admin? %>
			<%= link_to 'Edit', edit_subject_path, class: "btn btn-primary btn-xs" %>
		<% end %>
		<%= link_to 'Back to Blocks', subject_path, class: "btn btn-primary btn-xs" %>
	</td>
</table>

<div class="well well-sm col-md-5 table-responsive" style="height: 380px; margin:1%; min-width:48%">
	<strong>Exam Schedules</strong><br />
	<div style="height: 340px; overflow-y:scroll">
		<table class="table table-striped">
			<th style="min-width: 85px"> </th>
			<th>Title</th>
			<th>Exam Date</th>
			<th>Grade</th>
			<% @subject.exam_schedules.order(created_at: :desc).each do |exam_schedule| %>
				<tr>
					<td align="right">
						<div>
							<%= exam_schedule.created_at.localtime.strftime("%e %b '%y") %><br />
							<%= exam_schedule.created_at.localtime.strftime("%I:%M%p") %><br />
						</div>
					</td>
					<td><%= link_to exam_schedule.title, exam_schedule %></td>
					<td>
						<%= exam_schedule.date ? exam_schedule.date.localtime.strftime("%e %b '%y") : "" %><br />
						<%= exam_schedule.date ? exam_schedule.date.localtime.strftime("%I:%M%p") : "" %><br />
					</td>
					<td>
						<%= exam_schedule.exams.find_by(student: current_user) ? "#{exam_schedule.exams.find_by(student: current_user).grade} / " : "" %>
						<%= exam_schedule.max_score %>
					</td>
			<% end %>
		</table>
		<% if current_user == @subject.teacher %>
			<center><%= link_to "New Exam Schedule", new_exam_schedule_path(params: {subject_id: @subject.id}), class:"btn btn-primary btn-xs"%></center>
		<% end %>
	</div>
</div>

<div class="well well-sm col-md-5 table-responsive" style="height: 380px; margin:1%; min-width:48%">
	<strong>Assignments</strong><br />
	<div style="height: 340px; overflow-y:scroll">
		<table class="table table-striped">
			<th style="min-width: 85px"> </th>
			<th>Title</th>
			<% @subject.assignments.order(created_at: :desc).each do |assignment| %>
				<tr>
					<td align="right">
						<div>
							<%= assignment.created_at.localtime.strftime("%e %b '%y") %><br />
							<%= assignment.created_at.localtime.strftime("%I:%M%p") %><br />
						</div>
					</td>
					<td><%= link_to "#{truncate(assignment.title, length:60, separator: ' ')}", assignment %></td>
			<% end %>
		</table>
		<% if current_user == @subject.teacher %>
			<center><%= link_to "New Assignment", new_assignment_path(params: {subject_id: @subject.id}), class:"btn btn-primary btn-xs"%></center>
		<% end %>
	</div>
</div>

<div class="well well-sm col-md-5 table-responsive" style="height: 380px; margin:1%; min-width:48%">
	<strong>Lectures</strong><br />
	<div style="height: 340px; overflow-y:scroll">
		<table class="table table-striped">
			<th style="min-width: 85px"> </th>
			<th>Title</th>
			<% @subject.lectures.order(created_at: :desc).each do |lecture| %>
				<tr>
					<td align="right">
						<div>
							<%= lecture.created_at.localtime.strftime("%e %b '%y") %><br />
							<%= lecture.created_at.localtime.strftime("%I:%M%p") %><br />
						</div>
					</td>
					<td><%= link_to "#{truncate(lecture.title, length:60, separator: ' ')}", lecture %></td>
			<% end %>
		</table>
		<% if current_user == @subject.teacher %>
			<center><%= link_to "New Lecture", new_lecture_path(params: {subject_id: @subject.id}), class:"btn btn-primary btn-xs"%></center>
		<% end %>
	</div>
</div>

<div class="well well-sm col-md-5 table-responsive" style="height: 380px; margin:1%; min-width:48%">
	<strong>Blocks</strong><br />
	<div style="height: 340px; overflow-y:scroll">
		<table class="table table-striped">
			<th>Name</th>
			<th>Adviser</th>
			<% if current_user.admin? %>
				<th></th>
			<% end %>
			<% @subject.block_classes.each do |block_class| %>
				<tr>
					<td><%= link_to "Block #{block_class.name}", block_class %></td>
					<td><%= link_to "#{block_class.teacher.last_name}, #{block_class.teacher.first_name}", block_class.teacher %></td>
					<% if current_user.admin? %>
						<td><%= link_to "Cancel", destroy_subject_block_class_path(block_class_id: block_class.id), class:"btn btn-danger btn-xs", data: { confirm: 'Are you sure you want to remove this block?' } %></td>
					<% end %>
				</tr>
			<% end %>
		</table>
	</div>
</div>