<%= form_for @teacher do |f| %>
  <span class="postform form-group">
    <%= f.label "Post" %><br />
    <%= f.text_field :last_name %>

    <%= f.select :department_id, Department.order('name desc').reverse_order.all.pluck(:name, :id) , {include_blank: '--'}, class: 'form-control' %><br>
		
		<%= f.submit "Submit" %>
  </span>
<% end %>
