<br />
<div class="well well-sm col-md-8 col-md-offset-2">
	<h1>Teachers</h1>
	<div class="table-responsive">
		<table class="table table-striped">
			<th>Name</th>
			<th>ID No.</th>
			<th>Email</th>
			<th>Class</th>
			<th width="100px"> </th>
			<% @teachers.each do |teacher| %>
			  <tr>
					<td><%= link_to "#{teacher.last_name}, #{teacher.first_name}", teacher %></td>
					<td><%= link_to teacher.username, teacher %>
					<td><%= mail_to teacher.email %></td>
					<td><%= teacher.block_class ? (link_to teacher.block_class.name, teacher.block_class) : "" %>
			    <td>
					<% if can? :edit, teacher %>
						<%= link_to "Edit", edit_teacher_path(teacher), class:"btn btn-primary btn-xs" %>
					<% end %>
					<% if can? :delete, teacher %>
						<% unless teacher.admin? %>
							<%= link_to "Delete", teacher, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
						<% end %>
					<% end %>
					</td>
			  </tr>
			<% end %>
			<tr>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td>
					<% if can? :create, 'Teachers' %>
						<%= link_to 'Create', new_teacher_path, class: "btn btn-primary btn-xs" %><br />
					<% end %>
				</td>
			</tr>
		</table>
	</div>

	<center><%= page_entries_info @teachers %><br/>
	<%= will_paginate @teachers, renderer: BootstrapPagination::Rails %></center>
</div>

