<p id="notice"><%= notice %></p>

<%= @teacher.first_name %> <%= @teacher.last_name %> <br />
<%= @teacher.id %><br />
<%= @teacher.advisory.block_class ? @teacher.advisory.block_class.name : "" %><br /><br />

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>