<%= render partial:'/layouts/validations', locals: {model: @course} %>

<%= form_for @course do |f| %>
	<br/>
	<div class="well well-sm col-md-4 col-md-offset-4">
		<div class="form-group">
			<%= f.text_field :name, class:"form-control", placeholder:"Block name" %><br />
				
			<%= f.submit "Submit", class:"btn btn-primary btn-block" %>
			
			<center>
				<% if @course.id? %>
					<%= link_to "Cancel", course_path(@course) %><br />
				<% end %>
				<%= link_to "Back to Courses", courses_path %>
			</center>
		</div>
	</div>
<% end %>