<p id="notice"><%= notice %></p>

<h1>Class Subjects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_subjects.each do |class_subject| %>
      <tr>
        <td><%= link_to 'Show', class_subject %></td>
        <td><%= link_to 'Edit', edit_class_subject_path(class_subject) %></td>
        <td><%= link_to 'Destroy', class_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Subject', new_class_subject_path %>
