<!DOCTYPE html>
<html>
  <head>
    <title>Classroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
  </head>

  <body>
	<% if user_signed_in? %>
	  <body style="padding-top: 50px;" }>
	<% else %>
		<body style="padding-top: 0px;">
	<% end %>
		<% if alert %>
			<div class="alert alert-danger alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			  <%= alert %>
			</div>
		<% end %>
		<% if notice %>
			<div class="alert alert-success alert-dismissible" role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			    <span aria-hidden="true">&times;</span>
			  </button>
			  <%= notice %>
			</div>
		<% end %>
		
		<% if user_signed_in? %>
			<nav class="nav navbar-inverse navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href=/>
			        <%= current_user.admin? ? "Admin" : current_user.type %>
			      </a>
			
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
					</div>
					<div class="collapse navbar-collapse navbar-right" id="main-nav">
			      <ul class="nav navbar-nav">
							<% if can? :manage, :all %>
								<li class="<%= 'active' if request.path == dashboard_path %>"><%= link_to 'Dashboard', dashboard_path %></li>
							<% end %>
							<li class="<%= 'active' if (request.path == student_path(current_user) || request.path == teacher_path(current_user)) %>"><%= link_to "#{current_user.first_name} #{current_user.last_name}" , current_user %></li>					
							<% if can? :manage, :all %>
								<li class="<%= 'active' if request.path == users_path %>"><%= link_to 'Users', users_path %></li>
							<% end %>
							<li class="<%= 'active' if request.path == students_path %>"><%= link_to 'Students', students_path %></li>
							<li class="<%= 'active' if request.path == teachers_path %>"><%= link_to 'Teachers', teachers_path %></li>
							<li class="<%= 'active' if request.path == block_classes_path %>"><%= link_to 'Blocks', block_classes_path %></li>
							<li class="<%= 'active' if request.path == subjects_path %>"><%= link_to 'Subjects', subjects_path %></li>
							<li><%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %></li>
	          </ul>
					</div>
				</div>
			</nav>
		<% end %>
		
   	<%= yield %>

	</body>
</html>
