<!DOCTYPE html>
<html>
  <head>
    <title>Classroom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<% if user_signed_in? %>
			<%= current_user.type %>
		
			<% if current_user.is_admin? %>
				<%= " - YOU ARE AN ADMIN"%>
			<% end %>
		<% end %>

		
    <%= yield %>
		<% if user_signed_in? %>
			<br />
			<%= link_to 'Users', root_path %> | 
			<%= link_to 'Students', students_path %> | 
			<%= link_to 'Teachers', teachers_path %> |
			<%= link_to 'Subjects', subjects_path %> |
			<%= link_to 'Block Classes', block_classes_path %><br />
			<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
		<% end %>
	</body>
</html>
